* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(6,1fr);
  border: 1px solid black;
  padding: 5px;
  gap: 5px;
  width: 600px;
  justify-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  background-color: orchid;

  grid-template-areas: "header header header header header header" "section1 section1 . . section2 section2 ";
}

.item {
  border: 1px solid black;
  background-color: whitesmoke;
}
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: section1;
}

.item3 {
  grid-area: section2;
}
/*
.item4 {
  grid-area: section3;
}*/