h1 {
  color: red;
  margin: 0px
  ;
}

.container {
  background-color: green;
  overflow: auto;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.item {
  background-color: orange;
  width: 250px;
  margin: 5px;
  height: 200px;
}

.header
{
  background-color: orchid;
  height: 100px;
}