//Estilo para page AboutMe

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  &__title {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: "Permanent Marker";
    letter-spacing: 4px;
    font-size: 4 * $Root-size;     //Operacion con variable Rootsize
    margin: 30px;
    color: $ColorSecundario //Uso de variable Color
    }
}

.main {
display: flex;
flex-direction: row;

  &__image {
margin-top: 5rem;
padding-left: 30px;
  }

  &__text {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 30px;
    
  }

  &__title {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: "Permanent Marker";
    letter-spacing: 4px;
    font-size: 4 * $Root-size;     //Operacion con variable Rootsize
    margin: 5rem;
    color: $ColorSecundario //Uso de variable Color

  }
  &__subtitle {
    font-size: 2 * $Root-size; //Operacion con variable Rootsize
    line-height: 50px;
    letter-spacing: 3px;
    color: $ColorSecundario;  //Uso de variable Color
  }

  &__detail {
    margin-top: 20px;
    font-size: 1,8 * $Root-size; //Operacion con variable Rootsize
    line-height: 30px;
    letter-spacing: 1.5px;
  }


}
