.commissions {
  &__mainTitle {
  font-family: "Permanent Marker";
   font-size: 3rem;
   line-height: 5rem;
   letter-spacing: 0.5rem;
   display: flex;
  }
 
  &__title {
   font-family: "PT Serif";
   font-weight: bold;
   line-height: 3rem;
   letter-spacing: 0.1rem;
   align-self: center;
   align-content: center;
   align-items: center;
  }

  &__img {
    &__img:hover{
      transform: scale(1.04);
    }
  }
 
  &__text {
   font-family: "pt Serif";
   line-height: 3rem;
   letter-spacing: 0.1rem;
   align-self: center;
   align-content: center;
   align-items: center;
  }
}