.commissions {
  &__mainTitle {
  font-family: "Permanent Marker";
    letter-spacing: 0.3rem;
    font-size: 4 * $Root-size;     //Operacion con variable Rootsize
    padding: 3rem;
    color: $ColorSecundario; //Uso de variable Color
   display: flex;
  }
  &__subtitle {
    &__main{
    font-size: 2.2 * $Root-size; //Operacion con variable Rootsize
    font-family: 'Bad Script';
    font-weight: bold;
    line-height: 2rem;//50px;
    letter-spacing: 0.05rem;
    color: $ColorSecundario;  //Uso de variable Color
    padding-bottom: 1rem;
    }
  }
 
  &__title {
   font-family: 'Bad Script';
   font-weight: bold;
   line-height: 3rem;
   letter-spacing: 0.05rem;
   align-self: center;
   align-content: center;
   align-items: center;
  }

  &__img {
  filter: saturate(80%);
    &:hover{
      transform: scale(1.04);
      filter: saturate(100%);
    }
  }
 
  &__text {
   font-family: 'Bad Script';
   line-height: 3rem;
   letter-spacing: 0.05rem;
   align-self: center;
   align-content: center;
   align-items: center;
  }
  
  &__rules{
    font-size: 1.75 * $Root-size; //Operacion con variable Rootsize
    font-family: 'Bad Script';
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    color: $ColorSecundario;  //Uso de variable Color
    }
}