body {
  background-color: $ColorFondo;
}

.contact {
    display: flex;
    flex-direction: row;
    //padding-top: 5rem;
    background-color: $ColorFondo;
    
    &__text {
      background-color: $ColorFondo;
      flex-direction: column;
      align-content: center;
      justify-self: center;
      align-self: center;
      text-align: center;
    
      &__mainTitle {
      font-family: "Permanent Marker";
      letter-spacing: 0.3rem;
      font-size: 4 * $Root-size;     //Operacion con variable Rootsize
      padding: 3rem;
      color: $ColorSecundario; //Uso de variable Color
      }

      &__detail {
      font-family: "PT serif";
      font-size: 0,3rem;
      letter-spacing: 0.10rem;
      padding-left: 2rem;
      line-height: 2rem;
      color: $ColorSecundario;
      }
    }
/*
    &__form {
    border: 0.2rem solid $ColorTitulo;
    width: 45rem;
    margin-left: 3rem;
    }*/
}

.contactMe {
  font-family: "Permanent Marker";
  line-height: 2rem;
  padding-left: 1.5rem;
  letter-spacing: 0.2rem;
  font-size: large;
  color: $ColorSecundario;

  &--fieldBorders {
  width: 38rem;
  height: 2rem; 
  border: 0.2rem solid $ColorTitulo;
  }

  &--boxBorders {
    width: 38rem;
    height: 15rem;
    border: 0.2rem solid $ColorTitulo;
    display: flex;
  }

  &__buttons {
    margin-bottom: 2rem;
    background-color: $ColorSecundario;
    border: none;
    color: whitesmoke;
    font-family: 'Permanent Marker';
    font-size: 1rem;
    width: 5rem;
    height: 2rem;
  }
  &__form {
    background-color: $ColorFondo;
  }
}
