.portfolio {
  width: 400px;
    height: 500px;
     border: 1px solid black;

     &:hover {
      transform: scale(1.04);
      }
    &__title {
    display: flex;
    font-family: 'Permanent Marker';
      padding: 40px;
      align-self: center;
      justify-self:center;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      font-size: 30px;
      line-height: 10px;
      letter-spacing: 2px;
      color: black;
    }
  &__container {
      justify-content: center;
      align-content: center;
      padding: 40px;
      gap: 20px;
    }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2,600px);
    grid-template-rows: repeat(7,400px);
    grid-template-areas:
    "portfolio_Img6 portfolio_Img7" 
    "portfolio_Img6 portfolio_Img8"
    "portfolio_Img9 portfolio_Img3"
    "portfolio_Img5 portfolio_Img3"
    "portfolio_Img2 portfolio_Img1"
    "portfolio_Img2 portfolio_Img4";
    align-content: center;
    justify-content: center;
    justify-items: center;  
    
      &__imagen1{
        grid-area: portfolio_Img1;
        background: url("../Images/Asuka.png");
        background-size: cover;
        height: auto;
        max-width: 100%;
      }
      
      &__imagen2{
        grid-area: portfolio_Img2;
        background: url("../Images/Dororo.png");
        background-size: cover;
        height: 100%;
        width: 100%;
      }
      
      &__imagen3{
        grid-area: portfolio_Img3;
        background: url("../Images/XMen.png");
        background-size: cover;
        height: 100%;
        width: 100%;
      }
      
      &__imagen4{
        grid-area: portfolio_Img4;
        background: url("../Images/Shiryu.png");
        background-size: cover;
        height: auto;
        max-width: 100%;
      }
      
      &__imagen5{
        grid-area: portfolio_Img5;
        background: url("../Images/PowerpuffGirls.png");
        background-size: cover;
        height: auto;
        max-width: 100%;
      }
      
      &__imagen6{
        grid-area: portfolio_Img6;
        background: url("../Images/IceDemon.png");
        background-size: cover;
        height: 100%;
        width: 100%;
      }
      
      &__imagen7{
        grid-area: portfolio_Img7;
        background: url("../Images/BabyGroot.png");
        background-size: cover;
        height: auto;
        max-width: 100%;
      }
      
      &__imagen8{
        grid-area: portfolio_Img8;
        background:  url("../Images/SailorMoon.png");   // url("/Images/SailorMoon.png");
        background-size: cover;
        height: auto;
        max-width: 100%;
      }
      
      &__imagen9{
        grid-area: portfolio_Img9;
        background: url("../Images/Deadpool.png");
        background-size: cover;
        height: auto;
        max-width: 100%;
      }    
    
  }
}  
  
   
