.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: $ColorSecundario;
  margin-bottom: 1rem;
  padding-top: 3rem;

  &__redes {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    
    &__red {
      color: $ColorSecundario;
    }
  }
  &__text{    
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    font-size: 1rem;
  }
}
