.header {
  display: flex;
  background-color: $ColorSecundario;
  justify-content: space-between;
  color: $ColorFondo;
   &__image {
    padding-left: 4rem;
    background-color: $ColorSecundario;
    color: $ColorFondo;
   }
   &__nav__links {
    background-color: $ColorSecundario;
    color: $ColorFondo;
    line-height: 2rem;
    font-size: 1rem;
    padding-right: 4rem;
    align-self: center;
    & a:hover {
      color: whitesmoke;
      text-decoration: underline;
      font-weight:500;
    }

    &__link {
      background-color: $ColorSecundario;
      color: $ColorFondo;
      font-size: 1.3rem;
      gap: 6rem;
      text-decoration: none;
      padding-right: 2rem;
      &--net {
        background-color: $ColorSecundario;
        color: $ColorFondo;
        font-size: 1.2rem;
        }       
    }
  }
}