

.nav {
  background-color: $ColorSecundario;
  text-decoration: none;
  line-height: 3rem;

  &__links {
    background-color: $ColorSecundario;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 1rem;
  }
  &__link a {
    transition: all 0.3s;
  }
  a:hover {
    color: $ColorHover;
    text-decoration: underline;
  }
}

