body {
  background-color: rgb(173, 245, 221);
  margin: 0px;
}
h1 {
  color: red;
  margin: 0;
}

.caja2 {
position: fixed;
background-color: green;
z-index: 100;
}


.contenedorCajas {
  background-color: beige;
  border: 2px solid black;
  height: 50px;
}

.texto {
  display: inline;
  background-color: orange;
  border: 1px solid black;
 
  
}

.textoGrande {
  height: 50vh;
}