@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #e3fcff; }

body {
  background-color: #e3fcff; }

.header {
  display: flex;
  background-color: #09515a;
  justify-content: space-between; }
  .header__image {
    height: auto;
    width: 25rem;
    padding-left: 4rem;
    background-color: #09515a; }
  .header__nav__links {
    background-color: #09515a;
    line-height: 2rem;
    font-size: 1rem;
    padding-right: 4rem;
    align-self: center; }
    .header__nav__links__link {
      background-color: #09515a;
      color: #e3fcff;
      font-size: 1.3rem;
      gap: 6rem;
      text-decoration: none;
      padding-right: 2rem;
      /*& a:hover {
          color: red;
          text-decoration: underline;
        }*/ }
      .header__nav__links__link a {
        transition: all 0.3s; }
      .header__nav__links__link--net {
        background-color: #09515a;
        color: #e3fcff;
        font-size: 1.2rem; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding-top: 3rem; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: black;
    justify-self: center;
    align-self: center;
    text-align: center; }
  .footer__text {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    font-size: 13px;
    color: black;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px; }

.nav {
  background-color: #09515a;
  text-decoration: none;
  line-height: 3rem; }
  .nav__links {
    background-color: #09515a;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    justify-content: flex-start;
    font-size: 1rem;
    gap: 1rem; }
  .nav__link a {
    transition: all 0.3s; }
  .nav a:hover {
    color: whitesmoke;
    text-decoration: underline; }

.section {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .section__title {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: "Permanent Marker";
    letter-spacing: 4px;
    font-size: 40px;
    margin: 30px;
    color: #09515a; }

.main {
  display: flex;
  flex-direction: row; }
  .main__image {
    padding-left: 30px; }
  .main__text {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 30px; }
  .main__title {
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 3px;
    color: #09515a; }
  .main__detail {
    margin-top: 20px;
    font-size: 1, 80px;
    line-height: 30px;
    letter-spacing: 1.5px; }

.portfolio {
  width: 400px;
  height: 500px;
  border: 1px solid black; }
  .portfolio:hover {
    transform: scale(1.04); }
  .portfolio__title {
    display: flex;
    font-family: 'Permanent Marker';
    padding: 40px;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    line-height: 10px;
    letter-spacing: 2px;
    color: black; }
  .portfolio__container {
    justify-content: center;
    align-content: center;
    padding: 40px;
    gap: 20px; }
  .portfolio__grid {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(7, 400px);
    grid-template-areas: "portfolio_Img6 portfolio_Img7"  "portfolio_Img6 portfolio_Img8" "portfolio_Img9 portfolio_Img3" "portfolio_Img5 portfolio_Img3" "portfolio_Img2 portfolio_Img1" "portfolio_Img2 portfolio_Img4";
    align-content: center;
    justify-content: center;
    justify-items: center; }
    .portfolio__grid__imagen1 {
      grid-area: portfolio_Img1;
      background: url("../Images/Asuka.png");
      background-size: cover;
      height: auto;
      max-width: 100%; }
    .portfolio__grid__imagen2 {
      grid-area: portfolio_Img2;
      background: url("../Images/Dororo.png");
      background-size: cover;
      height: 100%;
      width: 100%; }
    .portfolio__grid__imagen3 {
      grid-area: portfolio_Img3;
      background: url("../Images/XMen.png");
      background-size: cover;
      height: 100%;
      width: 100%; }
    .portfolio__grid__imagen4 {
      grid-area: portfolio_Img4;
      background: url("../Images/Shiryu.png");
      background-size: cover;
      height: auto;
      max-width: 100%; }
    .portfolio__grid__imagen5 {
      grid-area: portfolio_Img5;
      background: url("../Images/PowerpuffGirls.png");
      background-size: cover;
      height: auto;
      max-width: 100%; }
    .portfolio__grid__imagen6 {
      grid-area: portfolio_Img6;
      background: url("../Images/IceDemon.png");
      background-size: cover;
      height: 100%;
      width: 100%; }
    .portfolio__grid__imagen7 {
      grid-area: portfolio_Img7;
      background: url("../Images/BabyGroot.png");
      background-size: cover;
      height: auto;
      max-width: 100%; }
    .portfolio__grid__imagen8 {
      grid-area: portfolio_Img8;
      background: url("../Images/SailorMoon.png");
      background-size: cover;
      height: auto;
      max-width: 100%; }
    .portfolio__grid__imagen9 {
      grid-area: portfolio_Img9;
      background: url("../Images/Deadpool.png");
      background-size: cover;
      height: auto;
      max-width: 100%; }

.commissions__mainTitle {
  font-family: "Permanent Marker";
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.5rem;
  display: flex; }

.commissions__title {
  font-family: "PT Serif";
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  align-self: center;
  align-content: center;
  align-items: center; }

.commissions__img__img:hover {
  transform: scale(1.04); }

.commissions__text {
  font-family: "pt Serif";
  line-height: 3rem;
  letter-spacing: 0.1rem;
  align-self: center;
  align-content: center;
  align-items: center; }

.contact__mainTitle {
  display: flex;
  color: #108291;
  font-weight: lighter;
  font-family: 'Permanent Marker';
  font-size: 4rem;
  letter-spacing: 0.1rem;
  justify-content: center;
  padding-bottom: 4rem; }

.contact {
  display: flex;
  flex-direction: row; }
  .contact__text {
    grid-area: contactText;
    justify-self: center;
    align-self: center;
    font-family: "PT serif";
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 20px; }
  .contact__form {
    border: 1px solid #108291;
    width: 700px;
    margin-left: 40px;
    grid-area: contactForm; }

.contactMe {
  font-family: "Permanent Marker";
  line-height: 30px;
  padding-left: 10px;
  letter-spacing: 1.5px; }
  .contactMe--fieldBorders {
    width: 500px;
    height: 30px;
    border: 1px solid #108291; }
  .contactMe--boxBorders {
    width: 500px;
    height: 200px;
    border: 1px solid #108291;
    display: flex; }
  .contactMe__Buttons {
    margin-bottom: 20px;
    background-color: #108291;
    border: none;
    color: white;
    font-family: "PT serif";
    font-size: 20px;
    width: 100px;
    height: 35px; }
